{% extends "blog_base.html" %}

{% block navbars %}
<ul class="nav nav-tabs">
		<li class="span2"><a></a></li>
		<li><a href="/home">HOME</a></li>
		{% for forurl,name in handler.types.items() %}
		<li><a href="/{{ forurl }}">{{ name }}</a></li>
		{% end %}
		
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="/lab">
			Xu's Lab
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		  <li><a href="">None</a></li>
		</ul>
		</li>
		<li><a href="/about">关于</a></li>
		{% if handler.typeactive == 'new-li' %}
		<li class="active" ><a href="{{ thisquery }}">{{ handler.title }}</a></li>
		{% end %}
</ul>
{% end %}

{% block maincontent %}
		{% autoescape None %}
		<div class="span2"></div>
		<div class="span8 article">	
			<div class="span12 inner">
				<div class="articletitle">
				<p><h2><strong><center>{{ articletitle}}</center></strong></h2></p>
				<hr style="height: 1px; border:none; border-top:1px dashed #CCCCCC;" /> 
				</div>
				<div class="articlecontent">
				<p>{{ markdowncontent }}</p>
				</div>
				<hr style="height: 1px; border:none; border-top:1px dashed #CCCCCC;" /> 
				<div class="alert">
				<a class="close">×</a>本文由
				<strong> {{ handler.bloginfos['BLOG_ADMIN_NAME']}} </strong> 作于<strong> {{ pubdate }} </strong>，归类于<strong> {{ articletype }} </strong>，包含标签 {% for tag in tags %}
					<a class="btn btn-{{ tagcss[tag.id] }} btn-small" href="/q/tag/{{ tag.id }}">{{ tag.name }}</a>
					{% end %}  。  <strong>转载请注明出处。</strong>
				</div>
			</div>
			<div class="row-fluid">	
			<div class="span12 inner">{{ handler.bloginfos['BLOG_COMMENT_CODE']}}</div>
			</div>
		</div>
		<div class="span2"></div>

{% end %}

{% block mainmenus%}

{% end %}

{% block mainpaginate %}

{% end %}